:root {
    --primary: #fff;
    --secondary: #24AA6F;
    --tertiary: #D17644;
    --quarternary: #000;
    --default-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    height: auto;
    margin: 10px;
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    justify-content: space-between;
}

.navbar .nav-logo img{
    width: 15rem;
}

.navbar .navbar-nav a {
    color: var(--quarternary);
    display: inline-block;
    font-size: var(--default-size);
    text-decoration: none;
    margin: 0 2rem;
    font-weight: 500;
}

.navbar .navbar-nav a:hover {
    color: var(--tertiary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid #24AA6F;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-unduh .btn-unduh {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem 3rem;
    background-color: var(--primary);
    color: var(--secondary);
    border: 1.5px solid #24AA6F;
    border-radius: 5px;
}

.navbar .navbar-unduh .btn-unduh:hover {
    background-color: #24AA6F;
    color: var(--primary);
}

.navbar .navbar-unduh a {
    margin: 0 1.5rem;
    color: var(--quarternary);
    font-size: 1.5rem;
}

#btn-menu {
    display: none;
}

.hero {
    margin-top: 7rem;
    min-height: 100vh;
}

.hero .row-content {
    display: flex;
    padding: 7rem 7%;
    margin: 0 5rem;
    align-items: center;
}

.hero .row-content .hero-img img {
    width: 34rem;
}

.hero .row-content .hero-text {
    padding: 0 7% 0 10%;
}

.hero .row-content .hero-text .tagline {
    color: var(--tertiary);
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 1rem;
}

.hero .row-content .hero-text .headline-title {
    font-size: 3.5rem;
    line-height: 1.5;
}

.hero .row-content .hero-text .headline-subtitle {
    color: #b9b9b9;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.hero .row-content .hero-text .mulai-sekarang {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    padding: 0.7rem 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 3rem 0;
}

.hero .row-content .hero-text .row-keunggulan {
    display: flex;
    text-align: left;
    justify-content: space-between;
    
}

.hero .row-content .hero-text .row-keunggulan h3 {
    font-size: 2.3rem;
    font-weight: 600;
}

.hero .row-content .hero-text .row-keunggulan span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 65%;
    }

    #btn-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--tertiary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        padding: 0.7rem;
        margin: 1.5rem 1.5rem 0.5rem;
        font-size: 1.7rem;
    }

    .navbar .navbar-nav a:hover {
        color: var(--secondary);
    }

    .navbar .navbar-nav a:after {
        color: var(--secondary);
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .hero .row-content {
        flex-wrap: wrap;
    }

    .hero .row-content .hero-img img {
        width: 100%;
    }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
